@use "../../styles/variables";

.loginScreen {
  width: 100vw;
  height: 100vh;
  background-color: variables.$SECONDARY_COLOR;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainer {
  width: 100%;
  height: 100%;
  max-width: 541px;
  max-height: 639px;
  border-radius: 8px;
  background-color: variables.$PRIMARY_COLOR;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 46px;
  h1 {
    color: variables.$N900;
  }

  .loginIcon {
    color: variables.$TERTIARY_COLOR;
    margin-bottom: 55px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;

    .loginErrorMessage {
      color: variables.$DANGER_DARK;
      font-size: variables.$FONT-SMALL;
    }

    .loginButton {
      width: 50%;
    }
  }
}
