@use "../../styles/variables";

.rolesLayout {
  width: 100%;
  height: 100vh;
  background-color: variables.$PRIMARY_COLOR;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
  .rolesSearchAddContainer {
    height: fit-content;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .rolesListContainer {
    width: 90%;
    height: 80%;
    background-color: variables.$N300;
    border-radius: 4px;
    box-shadow: -4px 4px 4px rgba(#000, 0.1);
  }

}

.permissionsContainer {
  width: 100%;
  height: 140px;
  .permissionListContainer{
    color: variables.$N1000;
    label {
      display: flex;
      flex-direction: row;
      justify-content: flex-start !important;
      align-items: center;
      input {
        box-shadow: none !important;
      }
    }
  }
}
