//FONTS
$FONT-XSMALL: 12px;
$FONT-SMALL: 16px;
$FONT-MEDIUM: 20px;
$FONT-BASE: 24px;
$FONT-BIG: 28px;

//COLORS
$PRIMARY_COLOR: #76b6b2;
$SECONDARY_COLOR: #468581;
$TERTIARY_COLOR: #1f6460;
$DANGER_LIGHT: #F97171;
$DANGER_MAIN: #FC5050;
$DANGER_DARK: #F63131;

$N000: #ffffff;
$N200: #eaeaea;
$N300: #d9d9d9;
$N900: #1E1E1E;
$N1000: #000000;
