@use "../../styles/variables";

.sideBarContainer {
  height: 100vh;
  width: 296px;
  background-color: variables.$SECONDARY_COLOR;
  color: variables.$N000;
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: variables.$FONT-BASE;
}

.linkTextStyle {
  width: 100%;
  padding: 1vh;
  text-align: center;
  text-decoration: none;
  color: variables.$N000;
}

.activeRoute {
  background-color: variables.$TERTIARY_COLOR;
}
