@use "../../styles/variables";

.sideBarContainer {
  height: 100vh;
  width: 296px;
  background-color: variables.$SECONDARY_COLOR;
  padding: 4% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: variables.$FONT-BASE;

  .sideBarNav {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logOutButton {
    color: variables.$N000;
    background-color: transparent;
    font-size: variables.$FONT-BASE;
    line-height: variables.$FONT-BASE;
  }
}

.linkTextStyle {
  width: 100%;
  padding: 1vh;
  text-align: center;
  text-decoration: none;
  color: variables.$N000;
}

.activeRoute {
  background-color: variables.$TERTIARY_COLOR;
  color: variables.$N000;
}
