.dashboardLayoutContainer {
  display: grid;
  grid-template-areas:
    'sidebar mainScreen mainScreen';
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.dashboardLayoutSideBar {
  grid-area: sidebar;
}


.dashboardContent {
  grid-area: mainScreen;
}